<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
<appSettings>
    <!--Below Products/discounts/promotions to be kept in MySQL in actual project-->
    <add key="products" value="A^50,B^30,C^20,D^15,E^70"/>
  
    <add key="separeteItemPromo" value="3*A=130^2*B=45"/>
    <add key="percDiscountSeparateItemPromo" value="2E=10%"/>
  
    <add key="combinedItemsPromo" value="C+D=30"/>
    <add key="percDiscountCombinedItemsPromo" value="D+E=15%"/>

</appSettings>


</configuration>